.body{
    scroll-behavior: smooth;
}

/* Navbar */
nav { 
  
    background: #ffffff;
    box-shadow: 0px 0.5px 1px 0px rgba(0, 0, 0, 0.25);
}

.imgsize {
    height: 60px;
    padding-left: 5%; 
}
/*  Z-index - is always in the top of the content */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999; 
}

.navbar-nav {
    margin-left: 60%;
}


/* Navbar Hover */
.nav-link:hover {
    color: green;
    font-weight: bold;
}

/* Text In Hero Page */
#title {
    color: #025227;
    align-items: center;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.flex-item-left {
    padding-top: 1%;
    padding-right: 5%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.title-body {
    display: flex;
    color: #6F6F6F;
    text-align: justify;
    font-family: Open Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

#green-apple-tech {
        margin-top: 10%;
        justify-content: center;
        margin-right: 50px;
        margin-left: 50px;
        display: flex;
        height: 600px;
        align-items: center;
        text-align: justify;
 }
/* HERO PAGE */
.flex-image {
    width: 650px;
    height: 550px;
}

/* Buttons */
#talk {
    font-family: 'poppins', sans-serif;
    margin-top: 1.25rem;
    background-color: #025227;
    color: #ffffff;
    width: 175px;
    height: 40px;
    border-radius: 30px;
    font-size: 0.9375rem;
    font-weight: 700;
    cursor: pointer;
    border: 2px solid #025227;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
    
}

#talk:hover{
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    background-color: white;
    border: 2px solid #025227;
    color: #025227;
    font-size: 0.9375rem;
}

#seemore {
    font-family: 'poppins', sans-serif;
    margin-top: 1.25rem;
    background-color: transparent;
    color: #ffffff;
    width: 175px;
    height: 40px;
    border-radius: 30px;
    font-size: 0.9375rem;
    font-weight: 700;
    cursor: pointer;
    border: 2px solid #ffffff;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}

#seemore:hover {
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    background-color: #025227;
    border: 2px solid #025227;
    color: #ffffff;
    font-size: 0.9375rem;
}

#seemore2 {
    margin-left: 260px;
    align-items: center;
    text-align: center;
    font-family: 'poppins', sans-serif;
    margin-top: 1.25rem;
    background-color: #025227;
    color: #ffffff;
    width: 175px;
    height: 40px;
    border-radius: 30px;
    font-size: 0.9375rem;
    font-weight: 700;
    cursor: pointer;
    border: 2px solid #025227;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}

#seemore2:hover {
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    background-color: white;
    border: 2px solid #025227;
    color: #025227;
    font-size: 0.9375rem;
}


/* 1st Image Parallax */
#parallax1 {
    color: #ffffff;
    align-items: center;
    justify-content: center;
}
.parallax {
    overflow: hidden;
    background-image: url("img/parallax1.png");
    margin-top: 75px;
    min-height: 300px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.parallax-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.parallax-content p {
    text-align: center;
    align-items: center;
    margin-top: 145px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}



/* <!-- Next Content After the first parallax --> */
.laptop { 
    margin-left: 1.25rem;
    margin-top: 55px;
    height: 500px;
    width: 500px; 
}

#laptop-text {
    margin-left: 1.25rem;
    color: #2D2D2D;
    text-align: justify;
    font-family: Open Sans;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#laptop-text-small {
    margin-left: 150px;
    color: #2D2D2D;
    text-align: justify;
    font-family: Open Sans;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#laptop-screenshot {
    overflow: hidden;
    margin-top: 10%;
    justify-content: center;
    margin-right: 50px;
    margin-left: 50px;
    display: flex;
    height: 600px;
    align-items: center;
    text-align: justify;

}

/* Our Products - Image Parallax Background */
.our-products-parallax { 
    overflow: hidden;
    background-image: url("img/our-products.jpg");
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    min-height: 2150px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.glass-card {
    margin: 0 auto;
    margin-top: 1.25rem;
    margin-bottom: 110px;
    color: white;
    width: 1300px;
    height: 1900px;
    border-radius: 10px;
    background: linear-gradient(317deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.20) 100%);
    backdrop-filter: blur(1.25rem);
}

.products-title {
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 100px;
}

/* Products Image */
#laptop-products {
    /* z-index: ; */
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-right: 50px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    text-align: justify;
}

#mysmartgov-title{
    margin-top: 100px;
    align-items: center;
    margin-bottom: 3px;
    color: #FFF;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 600;
    

}

#mysmartgov-image{
    margin-right: 50px;
    margin-left: 1.25rem;
    margin-top: 150px;
    padding-left: 1.25rem;
    justify-content: center; 
    height: 300px;
    width: 330px;
    align-items: center;
}

#mysmartgov-text {
    align-items: center;
    margin-right: 50px;
    padding-left: 30px;
    justify-content: center; 
    color: #FFF;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}


#laptop-products2, #laptop-products3, #laptop-products4 {
    margin-right: 30px;
    margin-left: 30px;
    display: flex;
    align-items: center;

}

#residence-text, #resource-text, #billing-text {
    padding-right: 10px;
    padding-left: 30px;
    justify-content: center; 
    color: #FFF;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

#residence-title, #resource-title, #billing-title {
    margin-top: 150px;
    font-weight: 600;
    margin-bottom: 3px;
    color: #FFF;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.875rem;;
    font-style: normal;
}

/* KEY FEATURES */

#key-features {
    overflow: hidden;
    text-align: center;
    margin-top: 100px;
    text-align: center;
    color: #2D2D2D;
    font-family: 'Inter' , sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
}

/* titles */
#key-features-title {
    align-items: center;
    display: flex;
    text-align: center;
    color: #72C675;
    font-family: 'Poppins',sans-serif;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    font-weight: bold;
    line-height: normal;
}

.user-friendly {
    margin-right: 200px; 
    margin-left: 230px;
    align-items: center;
    display: flex;
    text-align: center;
    color: #72C675;
    font-family: 'Poppins',sans-serif;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    font-weight: bold;
    line-height: normal;
}

.fast {
    margin-right: 15px; 
    margin-left: 20px;
    align-items: center;
    display: flex;
    text-align: center;
    color: #72C675;
    font-family: 'Poppins',sans-serif;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    font-weight: bold;
    line-height: normal;
}
/* #fast-reliable {
    margin-right: 210px; 
    margin-left: 195px;
    align-items: center;
    display: flex;
    text-align: center;
    color: #72C675;
    font-family: 'Poppins',sans-serif;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    font-weight: bold;
    line-height: normal;
} */


.scalable {
    margin-right: 210px; 
    margin-left: 195px;
    align-items: center;
    display: flex;
    text-align: center;
    color: #72C675;
    font-family: 'Poppins',sans-serif;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    font-weight: bold;
    line-height: normal;
}

.custom {
    margin-right: 10px; 
    margin-left: 0px;
    align-items: center;
    display: flex;
    text-align: center;
    color: #72C675;
    font-family: 'Poppins',sans-serif;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    font-weight: bold;
    line-height: normal;
}

.integrated {
    margin-right: 10px; 
    margin-left: 0px;
    align-items: center;
    display: flex;
    text-align: center;
    color: #72C675;
    font-family: 'Poppins',sans-serif;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    font-weight: bold;
    line-height: normal;
}

/* end */


.box {
    justify-content: center;
    margin-top: 100px;
    width: 1166px;
    height: 260px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    border-radius: 3.125rem;   
    background-color: transparent;
    border: 1px solid #D9D9D9;
}

#user-friendly-image {
    margin-left: 30px;
    justify-content: flex-start;
    align-items: flex-start;
    height: 250px;
    width: 250px;
}

#fast-reliable, #integrated {
    margin-right: 100px;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
}

#customs {
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
}

/* MYSMARTGOV */

#smartgov-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mySmartGov-img {
    margin-top: 120px;
    width: 400px;
    height: 80px;
}

.title-smartgov {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    color: #0E723E;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#title-product-features {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    color: #0E723E;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

article {
    color: #6F6F6F;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.938rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#product-components {
    display: flex;
    color: #0E723E;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card1 {
    /* display: flex;
    justify-content: space-between;
    gap: 10px; */
    margin-top: 50px;
    width: 350px;
    height: 450px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    border-radius: 10px;   
    background-color: transparent;
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.25);
    /* border: 1px solid #D9D9D9; */
}

.smartserve-image {
    margin-top: 30px;
    width: 150px;
    height: 150px;
}

.smartadmin-image {
    margin-top: 40px;
    width: 150px;
    height: 120px;
}

.smartlead-image {
    margin-top: 20px;
    width: 150px;
    height: 150px;
}


.title-smartserve {
    margin-top: 10px;
    background: -webkit-linear-gradient(left, #87AF00 50%, #10713D 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.30rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* span {
   color: linear-gradient(left, #e41654 60%, #2f12b1 40%);
   
} */

.title-smartfinance {
    margin-top: 10px;
    background: -webkit-linear-gradient(left, #87AF00 46%, #10713D 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.30rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title-smartadmin {
    margin-top: 27px;
    background: -webkit-linear-gradient(left, #87AF00 48%, #10713D 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.30rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title-smartlead {
    margin-top: 15px;
    background: -webkit-linear-gradient(left, #87AF00 48%, #10713D 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.30rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.smartfinance-description {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: #6F6F6F;
    text-align: justify;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.smartserve-description {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: #6F6F6F;
    text-align: justify;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.smartlead-description {
    margin-top: 17px;
    margin-left: 20px;
    margin-right: 20px;
    color: #6F6F6F;
    text-align: justify;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.smartfinance-image {
    margin-top: 30px;
    width: 150px;
    height: 150px;
}

/* RESIDENT INFORMATION SYSTEM */

#aboutresident {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-aboutresident, .title-residentid, .title-implementation {
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    color: #0E723E;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title-residentid, .title-benefits{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    color: #0E723E;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.residentid-image {
    display: flex;
    width: 500px;
    height: 300px;
    margin: 0 auto;
}

.benefits-top-title {
    color: #2D2D2D;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card2 {
    margin-top: 50px;
    padding: 30px;
    width: 650px;
    height: 450px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    border-radius: 10px;   
    background-color: transparent;
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.25);
}

.description-lgu, .description-resident {
    margin-top: 30px;
    margin-left: 50px;
    color: #6F6F6F;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title-lgu, .title-resident {
    color: #2D2D2D;
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;
}

.resident-image{
    margin-top: 30px;
    width: 170px;
    height: 150px;
}

.lgu-image {
    margin-top: 30px;
    width: 150px;
    height: 150px;
}


.description-lgu {
    margin-top: 50px;
    color: #6F6F6F;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.implementation {
    height: 250px;
    width: auto;
    margin-left: 100px;
    margin-top: 20px;
}


/* Resource for Election Activity and
Campaign Handling (REACH) */

.title-reach {
    margin-top: 100px;
    color: #0E723E;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card3 {
    margin-top: 50px;
    padding: 30px;
    width: 700px;
    height: 850px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    border-radius: 10px;   
    background-color: transparent;
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.25);
}

.description-reach {
    text-align: center;
    margin-top: 30px;
    color: #6F6F6F;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title-reach2 {
    margin-bottom: 10px;
    margin-top: 50px;
    color: #0E723E;
    color: #0E723E;
    text-align: left;
    font-family:'Open Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.reach-image{
    width: 550px;
    height: auto;
}

.key-features-image{
    width: 500px;
    height: auto;
}


/* .res-id-img{
    height: 500px;
    width: 500px;
}

.res-id {
    width: 300px;
    overflow: hidden;
    width: 100%; 
    transition: transform 0.3s ease; 

}

.res-id:hover {
    transform: scale(1.2); 
  } */
  
/* footer */

#footer-image {
    margin-top: 50px;
    width: 240px;
    height: 100px;
}

 
.home,.events,.about,.careers,.services,.contact-us,.address,.phone-no,.email {
    display: inline;
    color: #ffffff;
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} 

#footer-container  {
    padding-top: 50px;
    margin-top: 100px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    max-width: auto;
    background-image: url('img/footer-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    padding: 20px; 
}

#footer-container a {
    text-decoration: none;
}
/* 
ul {
    list-style: none;
} */


h4 {
    color: #fefefe;
    font-family: 'Poppins',sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* li {
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} */


.location, .phone {
    height: 20px;
    width: 15px;
}

.message {
    height: 20px;
    width: 20px;
}

.contact-us {
    padding-left: 80px;
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.events {
    padding-left: 98px;
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.careers {
    padding-left: 75px;
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a {
    color: #ffffff;
}

a:hover {
    font-weight: bold;
    color: #025227;
}

.features {
    color: #2D2D2D;
}

